.env
.venv
data/csv/exports/*
data/csv/input_names/*
!data/csv/input_names/sample_names.csv
data/db/*
data/json/*
data/sql/*
/textfiles/
.pytest_cache
.cursorignore

src/export/columns_for_export.py
src/export/craft_message.py

**config.yml
**/__pycache__/
**/client.py
**/prompts.yml
**.log